input[type=checkbox] {
  margin-right: .25em;
}

#lang-options {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 2em;
  padding-top:.25em;
  float: left;
}

#lang-options label {
  margin-right: 2em;
}

#search-box {
  float:right;
  margin: 2em;
}

#search-box input[type=number] {
  height: 1.4em;
  font-size: 1.2em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input[type=button] {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  width: 8em;
  height: 2.2em;
  background-color: DarkCyan;
  font-weight: bold;
  margin-left: .25em;
}

#gist-lists {
  clear: both;
  margin-left: auto;
  margin-right:auto;
  width: 90%; 
}

#gist-lists > h4 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  float:left;
  width: 46.5%;
  margin-left: .5em;
}

#gist-lists > div {
  float:left;
  width: 45%;
  margin: 1em;
  margin-top: 0em;
  border: 1px solid gray;
  position: relative;
  background-color: LightSteelBlue; 
}


#gist-lists > div > div {
  width: 90%;
  border-bottom: 1px dotted gray;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em;
  padding-top: .5em;
}

.gist-div > button {
  padding: 0em;
  height: 1.2em;
  width: 1.2em;
  font-weight: bold;
  font-size: 1.5em;
}

#gists > .gist-div > button {
  background-color: RoyalBlue;
  color: LightGray;
  padding-left: .1em;
  margin-bottom: .8em;
  line-height: 1px;
}

.gist-div > p {
  display: inline-block;  
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: 1em;
  position: relative;
  width: 80%;
}

.gist-div > a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: 3em;
  width: 80%;
}
